@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.step-1 {
  @include custom-box;
  &-form{
    display: flex;
    flex-direction: column;

    label {
      color: $marine-blue;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 5px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    button {
      border-radius: 7px;
      padding: 10px;
      margin: 5px 0;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      border: none;
      border: 1px solid $cool-gray;
      font-size: 1rem;
      margin-bottom: 15px;
      &::placeholder {
        color: $cool-gray;
        font-weight: 500;
      }
    }
  
    button {
      background-color: $marine-blue;
      color: $magnolia;
      font-size: 1.1rem;
      cursor: pointer;
      align-self: flex-end;
      margin-top: 25%;
      &:hover {
        background-color: $purplish-blue;
      }
    }
  }
}