@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.step-2 {
  @include custom-box;

  &-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-arcade, &-advanced, &-pro{
      width: 25%;
      border-radius: 7px;
      border: 2px solid $light-gray;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      h3 { color: $marine-blue; margin-bottom: 0px; }
      p { margin: 2px 0;}
      h4 { color: $purplish-blue; margin: 8px 0; }
      &.selected {
        background-color: $light-gray;
        border-color: $purplish-blue;
      }
    }

    &-arcade {
      &-img {
        background-image: url("../../../assets/images/icon-arcade.svg");
        background-size: contain;
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
      }
    }

    &-advanced {
      &-img {
        background-image: url("../../../assets/images/icon-advanced.svg");
        background-size: contain;
        width: 50px;
        height: 50px;
      }
    }

    &-pro {
      &-img {
        background-image: url("../../../assets/images/icon-pro.svg");
        background-size: contain;
        width: 50px;
        height: 50px;
      }
    }

  }

  &-billing {
    width: 100%px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
    border-radius: 7px;
    background-color: $magnolia;
    margin-top: 25px;

    &-option {
      font-size: 1rem;
      font-weight: 500;
      color: $cool-gray;
      padding: 10px;
      cursor: pointer;
      &.active {
        color: $marine-blue;
        // move pointer to the left
        &:nth-of-type(1) ~ .step-2-billing-switch .step-2-billing-switch-pointer {
          transform: translateX(-170%);
        }
      }
    }

    &-switch{
      display: flex;
      align-items: center;
      justify-content: end; // pointer default is on the right
      width: 60px;
      height: 30px;
      border-radius: 15px;
      background-color: $marine-blue;
      padding-right: 5px;
      &-pointer{
        background-color: $white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
      }
    }
    
  }

  &-footer {
    @include stepFooter;
  }
  
}